/.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/liblua-oocairo.la
/liboocairo.la
/libtool
/m4/
/oocairo-uninstalled.pc
/oocairo.lo
/oocairo.o
/oocairo.pc
/doc/*.3
